{% extends 'base.html.twig' %}

{% block title %}
    {% if 'backoffice_category_edit' == app.request.get('_route') %}
    Mettre à jour
    {% else %}
    Ajouter
    {% endif %}
{% endblock title %}

{% block body %}

<h1 class="text-center mt-5">{% if 'backoffice_category_edit' == app.request.get('_route') %}
    Mettre à jour
    {% else %}
    Ajouter
    {% endif %}</h1>

{{ form_start(category_form) }}

<div class="d-flex p-2 flex-wrap justify-content-center mt-5">

    <div class="mx-5">

        {{ form_row(category_form.name) }}
        {{ form_row(category_form.picture) }}

    </div>
        
</div>

<div class="text-center">
                <p>* Champs obligatoire</p>
        <button type="submit" class="btn btn-dark text-warning mt-4">
        {% if 'backoffice_category_edit' == app.request.get('_route') %}
        Mettre à jour
        {% else %}
        Ajouter
        {% endif %}
        </button>
</div>

    {{ form_end(category_form) }} 
    


{% endblock %}
